<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cadastro de título</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="AlgaWorks" th:src="@{/images/logo-algaworks.png}" />
            </a>
        </div>
    </div>
</nav>

<form method="POST"  th:object="${title}" class="form-horizontal" >


    <div class="alert alert-success" th:if="${!#strings.isEmpty(message)}">
        <span th:text="${message}">Título salvo com sucesso!!!</span>
    </div>

    <div class="alert  alert-danger" th:if="${#fields.hasAnyErrors()}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <th:block th:each=" error : ${#fields.detailedErrors()}">
            <div>
                <i class="fa  fa-exclamation-circle"></i>
                <span th:text="${error.message}"></span>
            </div>
        </th:block>

    </div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <h1 class="panel-title">Novo título</h1>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Descrição</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="description" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="dataVencimento" class="col-sm-2 control-label">Data de vencimento</label>
                <div class="col-sm-2">
                    <input id="dataVencimento" type="text" class="form-control"	 th:field="*{dateExpiration}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="valor" class="col-sm-2 control-label">Valor</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="valor" th:field="*{value}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-2">
                    <select id="status" class="form-control" th:field="*{status}">
                        <option value="">Selecione o tipo</option>
                        <option th:each="status : ${statusList}"
                                th:value="${status}" th:text="#{|statusTitle.${status}|}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>